/* *{
    border: 1px solid black;
} */

.container_3 .parent_2 .child_1 {

    width: 100%;
    height: 450px;
    padding: 20px;
    border-radius: 16px;
    border: 1px solid gainsboro;
    box-shadow: 0 10px 32px rgb(249, 248, 248);
}

.container_3 .parent_2 .child_1:hover {
    
    position: relative;
    top: -20px;
}

.container_3 .parent_2 .child_1 img {

    height: 80%;
}

.container_3 .parent_2 .child_1 .grand_child_1{

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container_3 .parent_2 .child_1 .grand_child_1 button{

    width: 50px;
    height: 50px;
    padding: 10px;
    cursor: pointer;
    border-radius: 100px;
    background-color: transparent;
    border: 0.8px solid gainsboro;
    box-shadow: 0 1px 32px rgb(243, 241, 241);
}

.container_3 .parent_2 .child_1 .grand_child_1 button img{

    width: 100%;
}

