* {

    /* border: 1px solid black; */
}

.container_4 {

    width: 80%;
    margin: 0 auto;
    padding: 30px 0px;
    border-top: 1px solid gainsboro;
}

.container_4 .parent_1 {

    padding: 80px 0px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 80px;
}

.container_4 .parent_1 .child_1 {

    width: 50%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 30px;
}

.container_4 .parent_1 .child_1 .para{

    margin: 0;
    padding: 0;
}

.container_4 .parent_1 .child_1 h1 {

    font-size: 42px;
    font-weight: 800;
}

.container_4 .parent_1 .child_1 .grand_child_1 {

    height: 20px;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.container_4 .parent_1 .child_1 .grand_child_1 img {

    width: 45px;
}

.container_4 .parent_1 .child_1 .grand_child_1 h4 {

    font-size: 18px;
    font-weight: 800;
}

.container_4 .parent_1 .child_1 .grand_child_2 {

    height: 20px;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;

}

.container_4 .parent_1 .child_1 .grand_child_2 p {

    color: blue;
    font-weight: 600;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;

}

.container_4 .parent_1 .child_1 .grand_child_3,
.container_4 .parent_1 .child_1 .grand_child_4,
.container_4 .parent_1 .child_1 .grand_child_5 {

    height: 20px;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;

}

.container_4 .parent_1 .child_1 .grand_child_3 p,
.container_4 .parent_1 .child_1 .grand_child_4 p,
.container_4 .parent_1 .child_1 .grand_child_5 p {

    color: gray;
    font-weight: 600;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;

}

.container_4 .parent_1 .child_1 p {

    font-size: 18px;
    color: gray;
}

.container_4 .parent_1 .child_2 {

    width: 50%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.container_4 .parent_1 .child_2 {

    display: flex;
    flex-direction: column;
}

.container_4 .parent_1 .child_2 .grand_child_1 {

    width: 100%;
    height: 100%;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0 1px 24px rgb(237, 235, 235);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 20px;  
}

.container_4 .parent_1 .child_2 .grand_child_1 img {

    border-radius: 12px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_4 .parent_1 .child_2 .grand_child_1 .text {

    display: flex;
    flex-direction: column;
    gap: 6px;
}

.container_4 .parent_1 .child_2 .grand_child_1 .text h1,
.container_4 .parent_1 .child_2 .grand_child_1 .text p {

    margin: 0;  
}

.container_4 .parent_1 .child_2 .grand_child_1 .text h1{

    font-size: 24px;
}

.container_4 .parent_1 .child_2 .grand_child_1 .text p{

    font-size: 16px;
    color: gray;
}



