.blue {

    width: 130px;
    height: 45px;

    border: none;
    border-radius: 8px;
    font-size: 16px;
    color: #ffffff;
    font-weight: 600;
    background-color: #513deb;
}
.blue:hover {

    width: 130px;
    height: 45px;

    border: none;
    border-radius: 8px;
    font-size: 16px;
    color: #ffffff;
    font-weight: 600;
    background-color: #b1aaea;
}
