* {

    /* border: 1px solid black; */
}

footer {

    padding: 30px 0px;

    width: 100%;
    height: 100%;
    background-color: #f8f8f8;
}

footer .MainCon {

    width: 80%;
    margin: 0 auto;

    display: flex;
    flex-direction: column;

}

footer .MainCon .FContainer_1 {

    padding: 100px 0px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
}

footer .FContainer_1 h1 {

    width: 50%;
    text-align: start;
    margin: 0;

    font-size: 55px;
    font-weight: 800;
    color: black;
}

footer .Fcontainer_2 {
    
    color: gray;
    font-weight: 400;
    padding: 30px 0px;
    border-top: 1px solid gainsboro;
    
    display: flex;
    justify-content: space-between;
}

footer .Fcontainer_2 div {

    font-size: 15px;

    display: flex;
    gap: 30px;
}