.App {
  text-align: center;
}


.App-header {

  height: 80px;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.App-header .App-parent_1 .App-logo {
  width: 100px;
  pointer-events: none;
}

.App-header .App-parent_2 {

  display: flex;
  gap: 25px;
}

.App-header .App-parent_2 a {

  font-size: 14px;
  color: #68696e;
  text-decoration: none;
}

.App-header .App-parent_2 a:hover {

  color: #232323;
}

.App-header .App-parent_3 {

  display: flex;
  gap: 25px;
}

.App-header .App-parent_3 {

  display: flex;
  gap: 5px;
}

.App-header .App-parent_3 .App-login {

  border: none;
  padding: 10px 10px;
  border-radius: 8px;
  font-size: 14px;
  color: #686d7b;
  font-weight: 600;
  background-color: transparent;
}

.App-header .App-parent_3 .App-login:hover {

  color: #505050;
  background-color: rgb(239, 238, 238);
}

.App-header .App-parent_3 .App-get {

  border: none;
  padding: 10px 10px;
  border-radius: 8px;
  font-size: 14px;
  color: #ffffff;
  font-weight: 600;
  background-color: #513deb;
}

.App-header .App-parent_3 .App-get:hover {

  background-color: #968bed;
}

.App-header .App-parent_4 {

  display: none;
}

.App-header .App-parent_4 .App-menu {

  width: 30px;
}

.App-header .App-parent_5 {

  display: none;
}

.App-header .App-parent_5 .App-cut {

  width: 30px;
}

main .container_1 {

  padding: 140px 0px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

main .container_1 .parent_1 {

  width: 80%;

  display: flex;
  flex-direction: column;
  gap: 30px;
}

main .container_1 .parent_1 h1 {

  width: 40%;
  font-size: 56px;
  font-weight: 700;
  margin: 0 auto;
}

main .container_1 .parent_1 h1 span {

  color: #513deb;
}

main .container_1 .parent_1 p {

  width: 60%;
  font-size: 26px;
  margin: 0 auto;
  color: #68696e;
}

main .container_1 .parent_1 .child_1 {

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

main .container_1 .parent_1 .child_1 .get_button {

  width: 130px;
  height: 45px;

  border: none;
  border-radius: 8px;
  font-size: 18px;
  color: #ffffff;
  font-weight: 600;
  background-color: #513deb;
}

main .container_1 .parent_1 .child_1 .teams_button {

  width: 170px;
  height: 45px;

  border: 0.6px solid rgb(217, 215, 215);
  border-radius: 8px;
  font-size: 18px;
  color: #05060f;
  font-weight: 600;
  background-color: #fff9;
  box-shadow: 0 2px 2px #0f0a1f0a;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}