.blue {

    width: 130px;
    height: 45px;

    border: none;
    border-radius: 8px;
    font-size: 18px;
    color: #ffffff;
    font-weight: 600;
    background-color: #513deb;
}

.white {

    width: 130px;
    height: 45px;


    border: none;
    border-radius: 8px;
    font-size: 18px;
    color: #ffffff;
    font-weight: 600;
    background-color: #c9c9cf;
}